APP_NAME=biz-skeleton

# Mysql
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

# Redis
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0


WECHAT_MINI_PROGRAM_APPID=
WECHAT_MINI_PROGRAM_SECRET=
WECHAT_MINI_PROGRAM_TOKEN=
WECHAT_MINI_PROGRAM_AES_KEY=

WECHAT_MINI_PROGRAM_APPID_DEFAULT2=
WECHAT_MINI_PROGRAM_SECRET_DEFAULT2=
WECHAT_MINI_PROGRAM_TOKEN_DEFAULT2=
WECHAT_MINI_PROGRAM_AES_KEY_DEFAULT2=

WECHAT_PAYMENT_SANDBOX=false
WECHAT_PAYMENT_APPID=
WECHAT_PAYMENT_MCH_ID=
WECHAT_PAYMENT_KEY=
WECHAT_PAYMENT_CERT_PATH=
WECHAT_PAYMENT_KEY_PATH=
WECHAT_PAYMENT_NOTIFY_URL=
WECHAT_REFUND_NOTIFY_URL=
WECHAT_THROUGH_TRAIN_REFUND_NOTIFY_URL=
WECHAT_THROUGH_TRAIN_PAYMENT_NOTIFY_URL=
WECHAT_SCENIC_AREA_PAYMENT_NOTIFY_URL=
WECHAT_SCENIC_AREA_REFUND_NOTIFY_URL=
